body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f3ef;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐱</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

* {
  box-sizing: border-box;
}

.container {
  width: 520px;
  height: auto;
  margin: 100px auto;
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.base {
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: block;
  float: none;
}

.block {
  width: 135px;
  padding: 5px 20px;
  margin-left: 20px;
  display: inline-block;
}

.base .top-enter {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 0px;
  box-shadow: 0px 2px #bababa;
  background: white;
  color: navy;
}

.base h4 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0.5em;
  background: white;
}

.base .enter .text {
  font-size: 15px;
  margin-top: 0px;
  padding-bottom: 1em;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  background: white;
}

.title {
  font-size: 20px;
  text-align: left;
  font-family:'Helvetica Neue',  sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.5px;
  word-spacing: 2.7px;
  color: #9b6b7d;
}

input[type="text"] {
  width: 140px;
  margin: auto;
  outline: none;
  min-height: 50px;
  border: 2px solid #d4b0bc;
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 8px;
  color: #555;
  font-size: 17px;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #9b6b7d;
  outline: none;
  box-shadow: 0 0 5px rgba(155,107,125,0.2);
}

input[type="button"] {
  width: 150px;
  margin-left: 35%;
  margin-top: 40px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #9b6b7d;
  color: #ffffff;
  padding: 14px 16px;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😻</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

input[type="button"]:hover {
  background-color: #825964;
  transform: translateY(-2px);
}

#age {
  display: block;
  margin: 10px;
  margin-top: 35px;
  padding: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  font-family: verdana;
  font-size: 23px;
  font-weight: normal;
  line-height: 1.5;
  word-spacing: 2.7px;
  color: navy;
}